/* ---- 4² ---- */
.foursquare {
  font-family: normal 13px/140% "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
}

.foursquare__results {}

.foursquare__header {}


/* ---- Search ---- */
.search {} /* Block */
.search__field { /* Element */
  margin-left: 20px;
}

/* ---- Venues ---- */
.venues {  /* Block */
  padding-left: 0;
  padding-right: 0;
}
.venues__list {} /* Element */
.venues__venue {  /* Element */
  border-radius: none;
}


/* ---- Venue ---- */
.venue {} /* Block */

.venue__name {} /* Element */

.venue__checkins {
  float : right;
}
.venue__rating {
  float: right;
}
