.search { /* Block */
  &__field { /* Element */
    padding: inherit 0;
  }
  &__location { /* Element */
    float: right;
  }
  &__container {} /* Element */
  &__container {
    padding-left: 0;
    padding-right: 0;
  }
  &__location-button {  /* Element */
    right: 20px;
  }
  &__icon {
    right: 02px;
  }
}
